---
import type {TocItem} from '../../lib/content';

interface Props {
  items: TocItem[];
}

const {items} = Astro.props;
---

<ul class="toc-list">
  {items.map((item) => (
    <li class:list={['toc-list__item', `toc-list__item--level-${item.level}`]}>
      <a href={`#${item.slug}`} data-toc-item={item.slug}>
        {item.text}
      </a>
      {item.children && item.children.length > 0 && <Astro.self items={item.children} />}
    </li>
  ))}
</ul>
